.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/search-stock')
        i.fa.fa-cube
        | Stock Analysis Model
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class=(title == 'Home') ? 'active' : undefined)
          a(href='/') Home
        li(class=(title == 'Stock-Search') ? 'active' : undefined)
          a(href='/search-stock') Stock-Search
      ul.nav.navbar-nav.navbar-right
        if !user
          li(class=(title == 'Login') ? 'active' : undefined)
            a(href='/login') Login
          li(class=(title == 'Create Account') ? 'active' : undefined)
            a(href='/signup') Create Account
        else
          .dropdown
            a(href="#", data-toggle="dropdown").dropdown-toggle #{user.username.toUpperCase()}
            ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu')
                li
                    a(href='/display-portfolio', tabindex='-1') My Portfolio
                li.divider
                li
                    a(href='/logout', tabindex='-1') Logout
          script.
            $('.dropdown-toggle').dropdown()
